body {
	 margin: 0;
	 font-size: 20px;
}
 * {
	 box-sizing: border-box;
}
 .container {
	 position: relative;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100vh;
	/* * Created with https://www.css-gradient.com * Gradient link: https://www.css-gradient.com/?c1=700194&c2=111b77&gt=l&gd=dbr */
	 background: #700194;
	 background: linear-gradient(315deg, #700194, #111b77);
	 color: white;
	 font-family: arial, sans-serif;
	 overflow: hidden;
}
 .content {
	 position: relative;
	 width: 600px;
	 max-width: 100%;
	 margin: 20px;
	/* * Created with https://www.css-gradient.com * Gradient link: https://www.css-gradient.com/?c1=700194&c2=111b77&gt=l&gd=dtl */
	 background: #700194;
	 background: linear-gradient(135deg, #700194, #111b77);
	 color: white;
	 padding: 60px 40px;
	 text-align: center;
	 box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
	 opacity: 0;
	 animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
 .content p {
	 font-size: 1.3rem;
	 margin-top: 0;
	 margin-bottom: 0.6rem;
	 letter-spacing: 0.1rem;
	 color: white;
}
 .content p:last-child {
	 margin-bottom: 0;
}
 .content button {
	 display: inline-block;
	 margin-top: 2rem;
	 padding: 0.5rem 1rem;
	 border: 3px solid;
	 background: transparent;
	 font-size: 1rem;
	 color: white;
	 text-decoration: none;
	 cursor: pointer;
	 font-weight: bold;
}
 .particle {
	 position: absolute;
	 display: block;
	 pointer-events: none;
}
 .particle:nth-child(1) {
	 top: 48.4261501211%;
	 left: 27.2904483431%;
	 font-size: 26px;
	 filter: blur(0.02px);
	 animation: 29s float infinite;
}
 .particle:nth-child(2) {
	 top: 37.8181818182%;
	 left: 74.1463414634%;
	 font-size: 25px;
	 filter: blur(0.04px);
	 animation: 25s float infinite;
}
 .particle:nth-child(3) {
	 top: 33.4563345633%;
	 left: 93.7808489635%;
	 font-size: 13px;
	 filter: blur(0.06px);
	 animation: 26s floatReverse2 infinite;
}
 .particle:nth-child(4) {
	 top: 91.6256157635%;
	 left: 87.9446640316%;
	 font-size: 12px;
	 filter: blur(0.08px);
	 animation: 32s floatReverse infinite;
}
 .particle:nth-child(5) {
	 top: 51.9607843137%;
	 left: 22.6377952756%;
	 font-size: 16px;
	 filter: blur(0.1px);
	 animation: 23s floatReverse2 infinite;
}
 .particle:nth-child(6) {
	 top: 82.9915560917%;
	 left: 48.5908649174%;
	 font-size: 29px;
	 filter: blur(0.12px);
	 animation: 29s floatReverse infinite;
}
 .particle:nth-child(7) {
	 top: 65.8595641646%;
	 left: 96.4912280702%;
	 font-size: 26px;
	 filter: blur(0.14px);
	 animation: 28s floatReverse2 infinite;
}
 .particle:nth-child(8) {
	 top: 82.2521419829%;
	 left: 15.732546706%;
	 font-size: 17px;
	 filter: blur(0.16px);
	 animation: 22s float infinite;
}
 .particle:nth-child(9) {
	 top: 54.3689320388%;
	 left: 69.3359375%;
	 font-size: 24px;
	 filter: blur(0.18px);
	 animation: 38s float infinite;
}
 .particle:nth-child(10) {
	 top: 75.9124087591%;
	 left: 71.4285714286%;
	 font-size: 22px;
	 filter: blur(0.2px);
	 animation: 38s floatReverse infinite;
}
 .particle:nth-child(11) {
	 top: 60.6356968215%;
	 left: 38.3104125737%;
	 font-size: 18px;
	 filter: blur(0.22px);
	 animation: 40s floatReverse2 infinite;
}
 .particle:nth-child(12) {
	 top: 61.3138686131%;
	 left: 75.3424657534%;
	 font-size: 22px;
	 filter: blur(0.24px);
	 animation: 23s floatReverse infinite;
}
 .particle:nth-child(13) {
	 top: 82.8606658446%;
	 left: 64.2927794263%;
	 font-size: 11px;
	 filter: blur(0.26px);
	 animation: 25s floatReverse infinite;
}
 .particle:nth-child(14) {
	 top: 65.605875153%;
	 left: 63.9134709931%;
	 font-size: 17px;
	 filter: blur(0.28px);
	 animation: 23s float2 infinite;
}
 .particle:nth-child(15) {
	 top: 58.5365853659%;
	 left: 40.1960784314%;
	 font-size: 20px;
	 filter: blur(0.3px);
	 animation: 33s floatReverse2 infinite;
}
 .particle:nth-child(16) {
	 top: 8.7272727273%;
	 left: 60.487804878%;
	 font-size: 25px;
	 filter: blur(0.32px);
	 animation: 22s float infinite;
}
 .particle:nth-child(17) {
	 top: 62.7450980392%;
	 left: 8.8582677165%;
	 font-size: 16px;
	 filter: blur(0.34px);
	 animation: 25s float2 infinite;
}
 .particle:nth-child(18) {
	 top: 31.9226118501%;
	 left: 97.3709834469%;
	 font-size: 27px;
	 filter: blur(0.36px);
	 animation: 34s floatReverse infinite;
}
 .particle:nth-child(19) {
	 top: 17.7558569667%;
	 left: 86.0534124629%;
	 font-size: 11px;
	 filter: blur(0.38px);
	 animation: 38s floatReverse2 infinite;
}
 .particle:nth-child(20) {
	 top: 5.8536585366%;
	 left: 56.862745098%;
	 font-size: 20px;
	 filter: blur(0.4px);
	 animation: 27s float infinite;
}
 .particle:nth-child(21) {
	 top: 13.5429262394%;
	 left: 28.2375851996%;
	 font-size: 27px;
	 filter: blur(0.42px);
	 animation: 23s float infinite;
}
 .particle:nth-child(22) {
	 top: 35.7056694813%;
	 left: 60.2526724976%;
	 font-size: 29px;
	 filter: blur(0.44px);
	 animation: 31s float2 infinite;
}
 .particle:nth-child(23) {
	 top: 85.0241545894%;
	 left: 51.5564202335%;
	 font-size: 28px;
	 filter: blur(0.46px);
	 animation: 24s float2 infinite;
}
 .particle:nth-child(24) {
	 top: 37.2549019608%;
	 left: 81.6929133858%;
	 font-size: 16px;
	 filter: blur(0.48px);
	 animation: 29s floatReverse2 infinite;
}
 .particle:nth-child(25) {
	 top: 67.1532846715%;
	 left: 10.7632093933%;
	 font-size: 22px;
	 filter: blur(0.5px);
	 animation: 35s float infinite;
}
 .particle:nth-child(26) {
	 top: 71.2195121951%;
	 left: 93.137254902%;
	 font-size: 20px;
	 filter: blur(0.52px);
	 animation: 35s float2 infinite;
}
 .particle:nth-child(27) {
	 top: 46.3768115942%;
	 left: 52.5291828794%;
	 font-size: 28px;
	 filter: blur(0.54px);
	 animation: 32s floatReverse2 infinite;
}
 .particle:nth-child(28) {
	 top: 41.8491484185%;
	 left: 19.5694716243%;
	 font-size: 22px;
	 filter: blur(0.56px);
	 animation: 31s floatReverse infinite;
}
 .particle:nth-child(29) {
	 top: 16.6462668299%;
	 left: 77.6794493609%;
	 font-size: 17px;
	 filter: blur(0.58px);
	 animation: 27s float infinite;
}
 .particle:nth-child(30) {
	 top: 74.2168674699%;
	 left: 33.0097087379%;
	 font-size: 30px;
	 filter: blur(0.6px);
	 animation: 21s float2 infinite;
}
 .particle:nth-child(31) {
	 top: 41.4303329223%;
	 left: 90.9990108803%;
	 font-size: 11px;
	 filter: blur(0.62px);
	 animation: 21s float infinite;
}
 .particle:nth-child(32) {
	 top: 87.5912408759%;
	 left: 88.0626223092%;
	 font-size: 22px;
	 filter: blur(0.64px);
	 animation: 24s floatReverse2 infinite;
}
 .particle:nth-child(33) {
	 top: 51.3939393939%;
	 left: 52.6829268293%;
	 font-size: 25px;
	 filter: blur(0.66px);
	 animation: 25s float infinite;
}
 .particle:nth-child(34) {
	 top: 67.6328502415%;
	 left: 10.7003891051%;
	 font-size: 28px;
	 filter: blur(0.68px);
	 animation: 33s float infinite;
}
 .particle:nth-child(35) {
	 top: 17.4123337364%;
	 left: 11.6845180136%;
	 font-size: 27px;
	 filter: blur(0.7px);
	 animation: 24s float2 infinite;
}
 .particle:nth-child(36) {
	 top: 44.7688564477%;
	 left: 81.2133072407%;
	 font-size: 22px;
	 filter: blur(0.72px);
	 animation: 40s float2 infinite;
}
 .particle:nth-child(37) {
	 top: 70.0369913687%;
	 left: 63.3036597428%;
	 font-size: 11px;
	 filter: blur(0.74px);
	 animation: 32s float2 infinite;
}
 .particle:nth-child(38) {
	 top: 52.0245398773%;
	 left: 59.1133004926%;
	 font-size: 15px;
	 filter: blur(0.76px);
	 animation: 30s floatReverse2 infinite;
}
 .particle:nth-child(39) {
	 top: 79.4188861985%;
	 left: 74.0740740741%;
	 font-size: 26px;
	 filter: blur(0.78px);
	 animation: 35s floatReverse2 infinite;
}
 .particle:nth-child(40) {
	 top: 28.1553398058%;
	 left: 46.875%;
	 font-size: 24px;
	 filter: blur(0.8px);
	 animation: 35s floatReverse2 infinite;
}
 .particle:nth-child(41) {
	 top: 83.698296837%;
	 left: 6.8493150685%;
	 font-size: 22px;
	 filter: blur(0.82px);
	 animation: 28s floatReverse infinite;
}
 .particle:nth-child(42) {
	 top: 15.763546798%;
	 left: 54.347826087%;
	 font-size: 12px;
	 filter: blur(0.84px);
	 animation: 23s float infinite;
}
 .particle:nth-child(43) {
	 top: 9.768009768%;
	 left: 5.8881256133%;
	 font-size: 19px;
	 filter: blur(0.86px);
	 animation: 25s float2 infinite;
}
 .particle:nth-child(44) {
	 top: 65.1048088779%;
	 left: 39.5647873393%;
	 font-size: 11px;
	 filter: blur(0.88px);
	 animation: 21s floatReverse2 infinite;
}
 .particle:nth-child(45) {
	 top: 47.8632478632%;
	 left: 12.7576054956%;
	 font-size: 19px;
	 filter: blur(0.9px);
	 animation: 35s float infinite;
}
 .particle:nth-child(46) {
	 top: 94.2331288344%;
	 left: 17.7339901478%;
	 font-size: 15px;
	 filter: blur(0.92px);
	 animation: 38s floatReverse infinite;
}
 .particle:nth-child(47) {
	 top: 19.728729963%;
	 left: 1.978239367%;
	 font-size: 11px;
	 filter: blur(0.94px);
	 animation: 26s floatReverse2 infinite;
}
 .particle:nth-child(48) {
	 top: 36.2745098039%;
	 left: 88.5826771654%;
	 font-size: 16px;
	 filter: blur(0.96px);
	 animation: 30s floatReverse2 infinite;
}
 .particle:nth-child(49) {
	 top: 90.0856793146%;
	 left: 20.6489675516%;
	 font-size: 17px;
	 filter: blur(0.98px);
	 animation: 30s float infinite;
}
 .particle:nth-child(50) {
	 top: 44.3908323281%;
	 left: 46.6472303207%;
	 font-size: 29px;
	 filter: blur(1px);
	 animation: 22s floatReverse2 infinite;
}
 .particle:nth-child(51) {
	 top: 79.509202454%;
	 left: 59.1133004926%;
	 font-size: 15px;
	 filter: blur(1.02px);
	 animation: 32s float2 infinite;
}
 .particle:nth-child(52) {
	 top: 22.3844282238%;
	 left: 53.8160469667%;
	 font-size: 22px;
	 filter: blur(1.04px);
	 animation: 29s floatReverse infinite;
}
 .particle:nth-child(53) {
	 top: 23.3861144945%;
	 left: 28.4035259549%;
	 font-size: 21px;
	 filter: blur(1.06px);
	 animation: 33s floatReverse infinite;
}
 .particle:nth-child(54) {
	 top: 76.8472906404%;
	 left: 64.2292490119%;
	 font-size: 12px;
	 filter: blur(1.08px);
	 animation: 26s float infinite;
}
 .particle:nth-child(55) {
	 top: 35.5117139334%;
	 left: 5.9347181009%;
	 font-size: 11px;
	 filter: blur(1.1px);
	 animation: 29s floatReverse2 infinite;
}
 .particle:nth-child(56) {
	 top: 13.7761377614%;
	 left: 53.3070088845%;
	 font-size: 13px;
	 filter: blur(1.12px);
	 animation: 28s float2 infinite;
}
 .particle:nth-child(57) {
	 top: 73.9827373613%;
	 left: 70.2274975272%;
	 font-size: 11px;
	 filter: blur(1.14px);
	 animation: 21s floatReverse2 infinite;
}
 .particle:nth-child(58) {
	 top: 87.4848116646%;
	 left: 78.2013685239%;
	 font-size: 23px;
	 filter: blur(1.16px);
	 animation: 28s floatReverse infinite;
}
 .particle:nth-child(59) {
	 top: 12.6984126984%;
	 left: 37.2914622179%;
	 font-size: 19px;
	 filter: blur(1.18px);
	 animation: 37s float2 infinite;
}
 .particle:nth-child(60) {
	 top: 74.4186046512%;
	 left: 33.4316617502%;
	 font-size: 17px;
	 filter: blur(1.2px);
	 animation: 29s floatReverse infinite;
}
 .particle:nth-child(61) {
	 top: 40.2948402948%;
	 left: 81.8540433925%;
	 font-size: 14px;
	 filter: blur(1.22px);
	 animation: 31s float infinite;
}
 .particle:nth-child(62) {
	 top: 44.4981862152%;
	 left: 38.9483933788%;
	 font-size: 27px;
	 filter: blur(1.24px);
	 animation: 31s floatReverse2 infinite;
}
 .particle:nth-child(63) {
	 top: 89.1041162228%;
	 left: 31.1890838207%;
	 font-size: 26px;
	 filter: blur(1.26px);
	 animation: 23s floatReverse2 infinite;
}
 .particle:nth-child(64) {
	 top: 40.245398773%;
	 left: 2.9556650246%;
	 font-size: 15px;
	 filter: blur(1.28px);
	 animation: 27s floatReverse infinite;
}
 .particle:nth-child(65) {
	 top: 82.9915560917%;
	 left: 29.1545189504%;
	 font-size: 29px;
	 filter: blur(1.3px);
	 animation: 38s float infinite;
}
 .particle:nth-child(66) {
	 top: 88.2424242424%;
	 left: 11.7073170732%;
	 font-size: 25px;
	 filter: blur(1.32px);
	 animation: 30s float2 infinite;
}
 .particle:nth-child(67) {
	 top: 23.5006119951%;
	 left: 69.8131760079%;
	 font-size: 17px;
	 filter: blur(1.34px);
	 animation: 31s floatReverse infinite;
}
 .particle:nth-child(68) {
	 top: 73.1707317073%;
	 left: 2.9411764706%;
	 font-size: 20px;
	 filter: blur(1.36px);
	 animation: 22s float2 infinite;
}
 .particle:nth-child(69) {
	 top: 82.4242424242%;
	 left: 65.3658536585%;
	 font-size: 25px;
	 filter: blur(1.38px);
	 animation: 25s floatReverse infinite;
}
 .particle:nth-child(70) {
	 top: 96.3855421687%;
	 left: 69.9029126214%;
	 font-size: 30px;
	 filter: blur(1.4px);
	 animation: 36s floatReverse2 infinite;
}
 .particle:nth-child(71) {
	 top: 71.6564417178%;
	 left: 51.2315270936%;
	 font-size: 15px;
	 filter: blur(1.42px);
	 animation: 38s float infinite;
}
 .particle:nth-child(72) {
	 top: 10.6280193237%;
	 left: 37.9377431907%;
	 font-size: 28px;
	 filter: blur(1.44px);
	 animation: 31s floatReverse infinite;
}
 .particle:nth-child(73) {
	 top: 84.5686512758%;
	 left: 78.2013685239%;
	 font-size: 23px;
	 filter: blur(1.46px);
	 animation: 30s float2 infinite;
}
 .particle:nth-child(74) {
	 top: 85.6447688564%;
	 left: 25.4403131115%;
	 font-size: 22px;
	 filter: blur(1.48px);
	 animation: 29s float2 infinite;
}
 .particle:nth-child(75) {
	 top: 86.8292682927%;
	 left: 83.3333333333%;
	 font-size: 20px;
	 filter: blur(1.5px);
	 animation: 27s float infinite;
}
 .particle:nth-child(76) {
	 top: 31.9612590799%;
	 left: 43.8596491228%;
	 font-size: 26px;
	 filter: blur(1.52px);
	 animation: 27s floatReverse infinite;
}
 .particle:nth-child(77) {
	 top: 73.5187424426%;
	 left: 51.6066212269%;
	 font-size: 27px;
	 filter: blur(1.54px);
	 animation: 31s float2 infinite;
}
 .particle:nth-child(78) {
	 top: 85.8199753391%;
	 left: 57.3689416419%;
	 font-size: 11px;
	 filter: blur(1.56px);
	 animation: 30s floatReverse infinite;
}
 .particle:nth-child(79) {
	 top: 48.309178744%;
	 left: 13.6186770428%;
	 font-size: 28px;
	 filter: blur(1.58px);
	 animation: 22s floatReverse infinite;
}
 .particle:nth-child(80) {
	 top: 17.4123337364%;
	 left: 20.4479065239%;
	 font-size: 27px;
	 filter: blur(1.6px);
	 animation: 28s float infinite;
}
 @keyframes apparition {
	 from {
		 opacity: 0;
		 transform: translateY(100px);
	}
	 to {
		 opacity: 1;
		 transform: translateY(0);
	}
}
 @keyframes float {
	 0%, 100% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(180px);
	}
}
 @keyframes floatReverse {
	 0%, 100% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(-180px);
	}
}
 @keyframes float2 {
	 0%, 100% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(28px);
	}
}
 @keyframes floatReverse2 {
	 0%, 100% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(-28px);
	}
}
 